extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/') Home
  br
  br
  .container
    each val, index in user
      .row
        a(class="userLink", href='/users/#{index}' )= val.user
        .theEmail= val.email
        .thePhone= val.phone
        button(class="delete") Delete
      
      
      
block script
  script(src="../javascripts/userMain.js")
