extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/') Home
  br
  br
  a(href='/users') User Listing
  br
  br
  .container
    h1= index.user
    h2= index.email
    h3= index.phone
      
      
